<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>cart_delete_controller</servlet-name>
  	<display-name>cart_delete_controller</display-name>
  	<description></description>
  	<servlet-class>com.web.cart_delete_controller</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ConfirmAddrController</servlet-name>
  	<display-name>ConfirmAddrController</display-name>
  	<description></description>
  	<servlet-class>com.web.ConfirmAddrController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Donatecontroller</servlet-name>
  	<display-name>Donatecontroller</display-name>
  	<description></description>
  	<servlet-class>com.web.Donatecontroller</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FeedbackComplaintController</servlet-name>
  	<display-name>FeedbackComplaintController</display-name>
  	<description></description>
  	<servlet-class>com.web.FeedbackComplaintController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ForgotPasswordController</servlet-name>
  	<display-name>ForgotPasswordController</display-name>
  	<description></description>
  	<servlet-class>com.web.ForgotPasswordController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Logincontroller</servlet-name>
  	<display-name>Logincontroller</display-name>
  	<description></description>
  	<servlet-class>com.web.Logincontroller</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Logout_controller</servlet-name>
  	<display-name>Logout_controller</display-name>
  	<description></description>
  	<servlet-class>com.web.Logout_controller</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PasswordController</servlet-name>
  	<display-name>PasswordController</display-name>
  	<description></description>
  	<servlet-class>com.web.PasswordController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PasswordUpdateController</servlet-name>
  	<display-name>PasswordUpdateController</display-name>
  	<description></description>
  	<servlet-class>com.web.PasswordUpdateController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Perticular_page_controller</servlet-name>
  	<display-name>Perticular_page_controller</display-name>
  	<description></description>
  	<servlet-class>com.web.Perticular_page_controller</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Product_delete_controller</servlet-name>
  	<display-name>Product_delete_controller</display-name>
  	<description></description>
  	<servlet-class>com.web.Product_delete_controller</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>product_id_controller</servlet-name>
  	<display-name>product_id_controller</display-name>
  	<description></description>
  	<servlet-class>com.web.product_id_controller</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ProductController</servlet-name>
  	<display-name>ProductController</display-name>
  	<description></description>
  	<servlet-class>com.web.ProductController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Search_controller</servlet-name>
  	<display-name>Search_controller</display-name>
  	<description></description>
  	<servlet-class>com.web.Search_controller</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Seller_login_controller</servlet-name>
  	<display-name>Seller_login_controller</display-name>
  	<description></description>
  	<servlet-class>com.web.Seller_login_controller</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Seller_reg_controller</servlet-name>
  	<display-name>Seller_reg_controller</display-name>
  	<description></description>
  	<servlet-class>com.web.Seller_reg_controller</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SellerForgotPasswordController</servlet-name>
  	<display-name>SellerForgotPasswordController</display-name>
  	<description></description>
  	<servlet-class>com.web.SellerForgotPasswordController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Th_Perticular_page_controller</servlet-name>
  	<display-name>Th_Perticular_page_controller</display-name>
  	<description></description>
  	<servlet-class>com.web.Th_Perticular_page_controller</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Thrift_Id_Controller</servlet-name>
  	<display-name>Thrift_Id_Controller</display-name>
  	<description></description>
  	<servlet-class>com.web.Thrift_Id_Controller</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateProductInfoController</servlet-name>
  	<display-name>UpdateProductInfoController</display-name>
  	<description></description>
  	<servlet-class>com.web.UpdateProductInfoController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateUserInfoController</servlet-name>
  	<display-name>UpdateUserInfoController</display-name>
  	<description></description>
  	<servlet-class>com.web.UpdateUserInfoController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Userregcontroller</servlet-name>
  	<display-name>Userregcontroller</display-name>
  	<description></description>
  	<servlet-class>com.web.Userregcontroller</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>validChechController</servlet-name>
  	<display-name>validChechController</display-name>
  	<description></description>
  	<servlet-class>com.web.validChechController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Wishlist_controller</servlet-name>
  	<display-name>Wishlist_controller</display-name>
  	<description></description>
  	<servlet-class>com.web.Wishlist_controller</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Wishlist_delete_controller</servlet-name>
  	<display-name>Wishlist_delete_controller</display-name>
  	<description></description>
  	<servlet-class>com.web.Wishlist_delete_controller</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Blogcontroller</servlet-name>
  	<display-name>Blogcontroller</display-name>
  	<description></description>
  	<servlet-class>com.web.Blogcontroller</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>cart_controller</servlet-name>
  	<display-name>cart_controller</display-name>
  	<description></description>
  	<servlet-class>com.web.cart_controller</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>cart_delete_controller</servlet-name>
  	<url-pattern>/cart_delete_controller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ConfirmAddrController</servlet-name>
  	<url-pattern>/ConfirmAddrController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Donatecontroller</servlet-name>
  	<url-pattern>/Donatecontroller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FeedbackComplaintController</servlet-name>
  	<url-pattern>/FeedbackComplaintController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ForgotPasswordController</servlet-name>
  	<url-pattern>/ForgotPasswordController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Logincontroller</servlet-name>
  	<url-pattern>/Logincontroller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Logout_controller</servlet-name>
  	<url-pattern>/Logout_controller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PasswordController</servlet-name>
  	<url-pattern>/PasswordController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PasswordUpdateController</servlet-name>
  	<url-pattern>/PasswordUpdateController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Perticular_page_controller</servlet-name>
  	<url-pattern>/Perticular_page_controller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Product_delete_controller</servlet-name>
  	<url-pattern>/Product_delete_controller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>product_id_controller</servlet-name>
  	<url-pattern>/product_id_controller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProductController</servlet-name>
  	<url-pattern>/ProductController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Search_controller</servlet-name>
  	<url-pattern>/Search_controller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Seller_login_controller</servlet-name>
  	<url-pattern>/Seller_login_controller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Seller_reg_controller</servlet-name>
  	<url-pattern>/Seller_reg_controller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SellerForgotPasswordController</servlet-name>
  	<url-pattern>/SellerForgotPasswordController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Th_Perticular_page_controller</servlet-name>
  	<url-pattern>/Th_Perticular_page_controller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Thrift_Id_Controller</servlet-name>
  	<url-pattern>/Thrift_Id_Controller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateProductInfoController</servlet-name>
  	<url-pattern>/UpdateProductInfoController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateUserInfoController</servlet-name>
  	<url-pattern>/UpdateUserInfoController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Userregcontroller</servlet-name>
  	<url-pattern>/Userregcontroller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>validChechController</servlet-name>
  	<url-pattern>/validChechController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Wishlist_controller</servlet-name>
  	<url-pattern>/Wishlist_controller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Wishlist_delete_controller</servlet-name>
  	<url-pattern>/Wishlist_delete_controller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Blogcontroller</servlet-name>
  	<url-pattern>/Blogcontroller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>cart_controller</servlet-name>
  	<url-pattern>/cart_controller</url-pattern>
  </servlet-mapping>
</web-app>
